<div class="beforeafter-inner component-inner" role="region" aria-label="{{_globals._components._beforeafter.ariaRegion}}">
    {{> component this}}
    <div class="beforeafter-widget component-widget{{#if _beforeafter.attribution}} beforeafter-widget-attribution{{/if}}">
      <img src="{{_beforeafter.after}}" {{#if _beforeafter.alt}} alt="{{_beforeafter.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
      <div class="resize">
        <img src="{{_beforeafter.before}}" {{#if _beforeafter.altbefore}} alt="{{_beforeafter.altbefore}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
      </div>
      <div class="handle" tabindex="0" aria-label="Press the right and left arrow keys to reveal the before and after"></div>
    </div>
    {{#if _beforeafter.attribution}}
      <div class="beforeafter-attribution" tabindex="0">{{{_beforeafter.attribution}}}</div>
    {{/if}}
</div>